<h1><%= @user.name %></h1>

<%= @user.name %>'s email address is: <%= @user.email %>

<%= link_to "Edit", "http://localhost:3000/users/#{@user.id}/edit" %>
<%= link_to "Delete", "http://localhost:3000/users/#{@user.id}", :method => "delete", :confirm => "Are you sure?" %>